<!DOCTYPE html>
<html>
<head>
  <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quizes</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-2 amplogo">
			<%= link_to(image_tag("sAMPlogo.png"), root_path) %>
		</div>
		<div class="col-xs-10 notes">
				By all that is unholy this REALLY took me down the rabbit hole! All for a typo! Good learning experience...
		</div>
	</header>

<br class="clear" />

<%= yield %>

</body>
</html>
